/openEsb/pr/BpelModule1/nbproject/private/
/openEsb/pr/CompositeApp1/nbproject/private/
/openEsb/pr/BpelModule1/build/
/openEsb/pr/CompositeApp1/build/
/openEsb/pr/CompositeApp1/src/jbiServiceUnits/
/openEsb/pr/CompositeApp1/dist/
/openEsb/pr/CompositeApp1/test/results/
/openEsb/pr/PruebaCA/nbproject/private/
/openEsb/pr/PruebaCA/src/jbiServiceUnits/
/openEsb/pr/PruebaCA/build/
/openEsb/pr/PruebaCA/dist/
/openEsb/pr/PruebaCA/test/results/
/openEsb/pr/Orquestador/nbproject/private/
/openEsb/pr/OrquestadorCA/nbproject/private/
/openEsb/pr/Orquestador/build/
/openEsb/pr/OrquestadorCA/build/
/openEsb/pr/OrquestadorCA/src/jbiServiceUnits/
/openEsb/pr/OrquestadorCA/dist/
/openEsb/pr/OrquestadorCA/test/results/